<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/contabilidad?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>

        <!-- property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property -->

    <mapping resource="kontreal/entities/Lcuenta.hbm.xml"/>
    <mapping resource="kontreal/entities/Empresa.hbm.xml"/>
    <mapping resource="kontreal/entities/Gasto.hbm.xml"/>
    <mapping resource="kontreal/entities/Reporteesp.hbm.xml"/>
    <mapping resource="kontreal/entities/Concepto.hbm.xml"/>
    <mapping resource="kontreal/entities/Cuenta.hbm.xml"/>
    <mapping resource="kontreal/entities/Factura.hbm.xml"/>
    <mapping resource="kontreal/entities/Balanza.hbm.xml"/>
    <mapping resource="kontreal/entities/Cueresultados.hbm.xml"/>
    <mapping resource="kontreal/entities/Minicatalogo.hbm.xml"/>
    <mapping resource="kontreal/entities/Lminicatalogo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
